body {
   background: url('../../../images/background-webpage.jpg');
   margin: 0;
   padding: 0;
}

#arena {
   margin: 0 auto;
   width: 800px;
   height: 400px;
}

#game-canvas {
   cursor: none;
   border: 1px solid blue;

   -webkit-transition: opacity 5.0s;
   -moz-transition: opacity 5.0s;
   -o-transition: opacity 5.0s;
   transition: opacity 5.0s;

   //display: none;
   //opacity: 0;
}
         
#score {
   font: 46px fantasy;
   text-align: center;
   color: #ff0;
   text-shadow: 2px 2px 4px rgba(0,0,80,1.0);
}
 
#fps {
   position: absolute;
   margin-top: -2em;
   z-index: 1;
   color: yellow;
   text-shadow: 1px 1px 1px rgb(0,0,80);
   font: bold 20px fantasy;
}

#toast {
   position: absolute;
   margin-top: 120px;
   width: 820px;
   font: 40px fantasy;
   text-align: center;
   color: #ff6;
   text-shadow: 2px 2px 4px rgb(0,0,0);

   -webkit-transition: opacity 0.5s;
   -moz-transition: opacity 0.5s;
   -o-transition: opacity 0.5s;
   transition: opacity 0.5s;

   z-index: 1;
   opacity: 0;
   display: none;
}

#lives {
   position: absolute;
   margin-top: 20px;
   margin-left: 5px;

   -webkit-transition: opacity 2s;
   -moz-transition: opacity 2s;
   -o-transition: opacity 2s;
   transition: opacity 2s;

   //display: none;
   //opacity: 0;
}

#life-icon-left {
   -webkit-transition: opacity 2s;
   -moz-transition: opacity 2s;
   -o-transition: opacity 2s;
   transition: opacity 2s;
}

#life-icon-middle {
   -webkit-transition: opacity 2s;
   -moz-transition: opacity 2s;
   -o-transition: opacity 2s;
   transition: opacity 2s;
}

#life-icon-right {
      -webkit-transition: opacity 2s;
   -moz-transition: opacity 2s;
   -o-transition: opacity 2s;
   transition: opacity 2s;
}
