body {
   background: url('../../images/background-webpage.jpg');
   margin: 0;
   padding: 0;
}

#arena {
   margin: 0 auto;
   width: 800px;
   height: 400px;
}
         
#score {
   font: 46px fantasy;
   text-align: center;
   color: #ff0;
   text-shadow: 2px 2px 4px rgba(0,0,80,1.0);
}
 
#fps {
   position: absolute;
   margin-top: -2em;
   z-index: 1;
   color: yellow;
   text-shadow: 1px 1px 1px rgb(0,0,80);
   font: bold 20px fantasy;
}

#toast {
   position: absolute;
   margin-top: 120px;
   width: 820px;
   font: 40px fantasy;
   text-align: center;
   color: #ff6;
   text-shadow: 2px 2px 4px rgb(0,0,0);

   -webkit-transition: opacity 0.5s;
   -moz-transition: opacity 0.5s;
   -o-transition: opacity 0.5s;
   transition: opacity 0.5s;

   z-index: 1;
   opacity: 0;
   display: none;
}
